@(contactList: List[Contact])

@main("Contact List") {

@for(contact <- contactList){
  <div class="contact-item">
  <h2>Contact @contact.getContact_id <a href="/contact/@contact.getContact_id">edit</a> </h2>
  <ul>
      <li>Contact type: @contact.getContact_type_id</li>
      <li>Referral type: @contact.getReferral_type_id</li>
      <li>Title: @contact.getTitle</li>
      <li>First name: @contact.getFirst_name</li>
      <li>Last name: @contact.getLast_name</li>
      <li>Organization: @contact.getOrganization</li>
      <li>Address: @contact.getAddress</li>
      <li>City: @contact.getCity</li>
      <li>Postal code: @contact.getPostal_code</li>
      <li>State: @contact.getState_id</li>
      <li>Country: @contact.getCountry</li>
      <li>Phone: @contact.getPhone</li>
      <li>Email: @contact.getEmail</li>
      <li>Last updated: @contact.getLast_updated</li>
      <li>Notes: @contact.getNotes</li>
    </ul>
  </div>
}


}
