@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    <div style=" border-style:ridge; color:#BB00FF;text-align:center">
       <a href="/">Home</a> | <a href="/contact">Add new contact</a>  |  <a href="/contacts">Contact List</a>  |  <a href="/contactsJson">Contacts in JSON format</a>  |
    </div>
        @content
    </body>
</html>
